*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightgrey;
      margin: 0;
    }
  }
  
  main {
    display: block;
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;}
    
hr {box-sizing: content-box; 
    height: 0; 
    overflow: visible; 
    }

pre {font-family: monospace, monospace;
    font-size: 1em; 
    }

    a {
        background-color: transparent;}

img {border-style: none;
    max-width: 100%;
     }


#listorti{
    color: blue;
}
.container {  display: grid;
    grid-template-columns:  1fr 1.5fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 2px 4px;
    padding: 3px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "menu content info"
      "menu content info";
  }
  
  .Header { grid-area: header;
    color: #32a844;
    border: 3px dashed beige;
    }
  
  .menu { grid-area: menu; 
    padding: 3px;
    border: 3px dotted gray;
    margin: 25px;}
  
  .content { grid-area: content;
    padding: 3px;
    border: 3px dotted gray;
    margin: 25px; 
    display:flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
      
}
  
  .info { grid-area: info;
    padding: 10px;
    border: 3px dotted gray;
    margin: 25px; }